/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/*----------Конец обнуления----------*/

/* Выбираем семейство шрифтов Ариал */
.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Размер шрифта параграфа fontsize30 */
.fontsize30 {
	font-size: 30px;
}

/* Начертание шрифта, например курсив */
.italic {
	font-style: italic;
}

/* Насыщенность(вес) шрифта  */
.font700 {
	font-weight: 700;
	/* Тоже самое, что bold=жирный. 400=normal=обычный */
}

/* Цвет текста  */
.colorred {
	color: red;
	color: #f00f00;
	/* Этот формат используют чаще*/
	color: rgb(255, 0, 0);
}

/* Горизонтальное выравнивание текста */
.textright {
	text-align: center;
}

/*Добавляет оформление текста (подчеркнутый, зачеркнутый и т.д. */
.decoration {
	text-decoration: underline;
}

/* Добавляет тень к тексту */
.shadow {
	text-shadow: 1px 1px 1px #000;
}

/* Заглавные или прописные символы */
.uppercase {
	text-transform: lowercase;
}

/* Отступ (типа красной строки) */
.ident {
	text-indent: 50px;
}

/* Межсимвольный интервал */
.lspace {
	letter-spacing: 5px;
}

/* Интервал между словами */
.wspace {
	word-spacing: 15px;
}

/* Управляет пробелами между словами */
.whitespace {
	white-space: nowrap;
}

/* Межстрочный интервал */
.lineheight {
	line-height: 20px;
}


/* Домашка в архиве css_2 */