.content {
   flex: 1 1 auto;
}


/*---------------------------------*/

.title {
   max-width: 1200px;
   margin: 0 auto;
   padding: 30px;
   font-size: 34px;
   text-align: center;
   text-transform: uppercase;
}

.subtitle {
   max-width: 900px;
   margin: 0 auto;
   padding: 25px;
   font-size: 34px;
   text-align: center;
   text-transform: uppercase;
   border-top: 2px solid #fff;
}


/*-----  Предупреждение  ---------*/

.warning__container {
   padding-top: 10px;
   visibility: visible;
}

.warning {
   background-color: red;
   max-width: 1100px;
   max-height: 100%;
   margin: 0 auto;
   padding: 20px;
   font-size: 34px;
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
   border: 2px solid #fff;
}


/*----   Вертикальные карточки   --------*/

.vertical {
   margin: 200px 0 0 0;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.vertical__row {
   display: flex;
   margin: 0px 20px;
}

.vertical__column {
   padding: 0px 20px;
   flex: 0 1 33.333%;
}

.vertical__item {
   background-color: #e8e8e8;
   color: #383838;
   padding-bottom: 30px;
}

.vertical__title {
   background-color: #2e8cc7;
   padding: 12px 0px;
   font-size: 24px;
   font-weight: 700;
   color: #fff;
   text-align: center;
}

.vertical__price {
   font-size: 40px;
   color: #f5710c;
   text-align: center;
   padding: 30px 0 30px 0;
   font-weight: 700;
}

.vertical__text {
   padding: 0 20px 0;
   margin-bottom: 30px;
}

.vertical__text li {
   background: url(../img/icons/green-galochka-30px.png) left no-repeat;
   padding: 0 0 0 40px;
   font-size: 16px;
   line-height: 56px;
   font-weight: 700;
}

.vertical__button {
   display: block;
   height: 50px;
   margin: 0 50px;
   background-color: #f5f5f5;
   color: #383838;
   line-height: 45px;
   font-size: 16px;
   font-weight: 700;
   text-align: center;
   border: 3px solid #2e8cc7;
}

.vertical__button:hover {
   color: #fff;
   background-color: #2e8cc7;
}


/*---------   О нас   ------------*/

.about {
   margin-top: 130px;
}

.about__container {
   background-color: #e8e8e8;
   max-width: 1200px;
   margin: 0 auto;
   padding-bottom: 30px;
}

.about__title {
   text-align: center;
   padding: 30px 0;
   font-size: 34px;
   color: #000;
   font-weight: 700;
   text-transform: uppercase;
}

.text__container {
   padding: 0 35px 35px 35px;
}

.about__text {
   max-width: 1040px;
   background-color: #f5f5f5;
   margin: 0 auto;
   color: #000;
   font-size: 22px;
   line-height: 38px;
   text-indent: 40px;
   padding: 30px;
}

.about__text span {
   font-weight: 700;
}

.about__row {
   display: flex;
   max-width: 1040px;
   margin: 0 auto;
}

.about__column {
   flex: 0 1 33.333%;
}


/*.about__item {}*/

.item__row {
   display: flex;
   padding: 0 0 0 30px;
}

.item__image img {
   max-width: 120px;
}

.item__text {
   align-self: center;
   font-size: 16px;
   line-height: 28px;
   color: #383838;
   font-weight: 700;
   text-align: center;
   padding: 0 20px;
}


/*----   Контакты   ---------*/

.contacts {
   margin: 130px 0 30px 0;
}

.contacts__container {
   max-width: 1200px;
   background-color: #e8e8e8;
   margin: 0 auto;
}

.contacts__warning {
   font-size: 24px;
   line-height: 34px;
   color: #000;
   text-align: center;
   background-color: #f5710c;
   padding: 5px;
   font-weight: 700;
}

.contacts__title {
   padding-top: 30px;
   font-size: 34px;
   line-height: 38px;
   color: #000;
   text-align: center;
   font-weight: 700;
}

.contacts__title p {
   padding-bottom: 30px;
}

.contact__contcolumn {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 30px 30px 30px;
}

.contacts__row {
   display: flex;
}

.contacts__left {
   background-color: #f5f5f5;
   flex: 0 1 34%;
}


/*.left__item {}*/

.left__text {
   font-size: 22px;
   line-height: 36px;
   color: #000;
   padding: 40px 10px;
}

.left__text span {
   font-weight: 700;
}

.left__text p {
   padding-bottom: 20px;
}

.contacts__center {
   flex: 0 1 100%;
}

.center__item {
   display: flex;
   flex-direction: column;
   padding: 0 20px;
}


/*.center__telbtn {}*/

.telbtn__container {
   background-color: #f5f5f5;
   display: flex;
   flex-wrap: wrap;
}

.telbtn__container a {
   color: #000;
   font-weight: 700;
   padding: 0 20px;
}

.telbtn__phone {
   flex: 0 1 100%;
   font-size: 41px;
   text-align: center;
   padding: 10px;
}

.telbtn__container {
   flex: 0 1 50%;
   justify-content: space-around;
   align-items: center;
}

.telbtn__call {
   display: flex;
   align-items: center;
   padding-bottom: 10px;
}

.telbtn__call img {
   max-width: 40px;
}

.call__btn {
   font-size: 16px;
   line-height: 28px;
}

.telbtn__write {
   display: flex;
   align-items: center;
   text-align: right;
   padding-bottom: 10px;
}

.telbtn__write img {
   max-width: 40px;
}

.write__btn {
   font-size: 16px;
   line-height: 28px;
}


/*.center__map {}*/

.map__container {
   margin-top: 20px;
}

.contacts__right {
   background-color: #f5f5f5;
   flex: 0 1 35%;
   display: flex;
   justify-content: center;
}

.right__item {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.right__title {
   flex: 0 1 10%;
   font-size: 22px;
   color: #000;
   font-weight: 700;
   padding: 50px 10px 30px 10px;
}

.right__list {
   flex: 0 1 100%;
   font-size: 22px;
   line-height: 46px;
   color: #000;
}

.right__list span {
   font-weight: 700;
}

.right__taxi {
   flex: 0 1 30%;
   background-color: #2e8cc7;
   margin: 0 10px 30px 10px;
}