.content {
   flex: 1 1 auto;
}


/*---------------------------------*/

.title {
   max-width: 1200px;
   margin: 0 auto;
   padding: 30px;
   font-size: 34px;
   text-align: center;
   text-transform: uppercase;
}

.subtitle {
   max-width: 900px;
   margin: 0 auto;
   padding: 25px;
   font-size: 34px;
   text-align: center;
   text-transform: uppercase;
   border-top: 2px solid #fff;
}


/*--------------------------------*/

.warning__container {
   padding-top: 10px;
}

.warning {
   background-color: red;
   max-width: 1100px;
   max-height: 100%;
   margin: 0 auto;
   padding: 20px;
   font-size: 34px;
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
   border: 2px solid #fff;
}


/*----------------------------------*/

.vertical {
   margin: 200px 0 0 0;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.vertical__row {
   display: flex;
   margin: 0px 20px;
}

.vertical__column {
   padding: 0px 20px;
   flex: 0 1 33.333%;
}

.vertical__item {
   background-color: #e8e8e8;
   color: #383838;
   padding-bottom: 30px;
}

.vertical__title {
   background-color: #2e8cc7;
   padding: 12px 0px;
   font-size: 24px;
   font-weight: 700;
   color: #fff;
   text-align: center;
}

.vertical__price {
   font-size: 40px;
   color: #f5710c;
   text-align: center;
   padding: 30px 0 30px 0;
   font-weight: 700;
}

.vertical__text {
   padding: 0 20px 0;
   margin-bottom: 30px;
}

.vertical__text li {
   background: url(../img/icons/green-galochka-30px.png) left no-repeat;
   padding: 0 0 0 40px;
   font-size: 16px;
   line-height: 56px;
   font-weight: 700;
}

.vertical__button {
   display: block;
   height: 50px;
   margin: 0 50px;
   background-color: #f5f5f5;
   color: #383838;
   line-height: 45px;
   font-size: 16px;
   font-weight: 700;
   border-radius: 50px;
   text-align: center;
   border: 3px solid #2e8cc7;
}

.vertical__button:hover {
   color: #fff;
   background-color: #2e8cc7;
}