.content {
   flex: 1 1 auto;
}


/*---------------------------------*/

.title {
   max-width: 1200px;
   margin: 0 auto;
   padding: 30px;
   font-size: 34px;
   text-align: center;
   text-transform: uppercase;
}

.subtitle {
   max-width: 900px;
   margin: 0 auto;
   padding: 25px;
   font-size: 34px;
   text-align: center;
   text-transform: uppercase;
   border-top: 2px solid #fff;
}


/*--------------------------------*/

.warning__container {
   padding-top: 10px;
}

.warning {
   background-color: red;
   max-width: 1100px;
   max-height: 100%;
   margin: 0 auto;
   padding: 20px;
   font-size: 34px;
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
   border: 2px solid #fff;
}


/*----------------------------------*/

.cards {
   margin-top: 100px;
}

.cards__container {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
}

.cards__vertical {
   background-color: #e8e8e8;
}

.vertical__container {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-width: 350px;
   max-width: 350px;
}

.vertical__title {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #2e8cc7;
   min-height: 70px;
}

.title__text {
   font-size: 26px;
   font-weight: 700;
   text-align: center;
}

.vertical__price {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 70px;
}

.price__text {
   font-size: 44px;
   font-weight: 700;
   text-align: center;
   color: #f5710c;
   padding: 20px 0 50px 0;
}

.vertical__text {
   display: flex;
   justify-content: left;
   align-items: center;
   padding: 0 50px 20px 50px;
}

.text__list {
   font-size: 16px;
   line-height: 44px;
   font-weight: 700;
   text-align: left;
   color: #383838;
}

.text__blag {
   line-height: 32px;
}

.vertical__button {}

.cardsbutton {}