@charset "UTF-8";
@import url(null.css);
@import url(header.css);
@import url(footer.css);
@import url(content.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

/*-------------------------------------------*/

body {
   font-family: "Roboto", sans-serif;
   background: url("../img/fon/smok25dpi-1920x3500-2.jpg") 0 0/100% auto no-repeat fixed;
   color: white;
}

a {
   color: #fff;
   text-decoration: none;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}