@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import "_header";
@import "_footer";

/* Импортируем файлы и шрифты */

body {
   font-family: "Roboto", sans-serif;
   background: url("../img/smok25dpi-1920x3500-2.jpg") 0 0/100% auto no-repeat scroll;
}

.warning {
   visibility: visible;
   border: 5px solid #fff;
   /* Чтобы скрыть - hidden*/
   margin: 20px auto;
   padding: 20px;
   background: red;
   font-size: 40px;
   text-transform: uppercase;
   color: #fff;
}

.block {
   color: white;
   height: 300px;
   border-radius: 15px;
   box-shadow: 0 0 10px #000;
}